
<footer class="footer-bg  text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"></h5>

        <p>
          TOUT LES MASSAGES QUE JE PRATIQUE NE SONT PAS UNE PRATIQUE MEDICALE
          ET NE SAURAIENT REMPLACER UN TRAITEMENT ET UN SUIVI MEDICAL. TOUT
          LES MASSAGES QUE JE PRATIQUE SONT DES MASSAGES DE DETENTE ET DE
          BIEN ÊTRE, NE SONT ASSOCIEE A AUCUNE TECHNIQUE MEDICALE, AUCUNE
          TECHNIQUE DE KINESITHERAPIE OU A CONSONNANCE SEXUELLE.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Liens</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="massage" class="text-black">Massages</a>
          </li>
          <li>
            <a  routerLink="produit" class="text-black">Produits</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="planning" class="text-black">Séances</a>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="login" class="text-black">Connection</a>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="register" class="text-black">Enregistrement</a>
          </li>
          <li *ngIf="isAdmin">
            <a routerLink="gestion" class="text-black">Gestion</a>
          </li>
          <li *ngIf="isAuth">
            <a (click)="logOut()" class="text-black">Déconnection</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Deux Mains Pour Toi
  </div>
  <!-- Copyright -->
</footer>
